// variables
$background-color: #fff;
$source-color: #666;
$text-font:  'Crimson Text', serif;
$text-color: #222;
$blue: #005A8B;
$blue-light: #A0CFEB;
$grey: #988F86;
$red: #A33F1F;


// helpers
.none {
  display:none;
}

%zeroes {
  padding:0;
  margin:0;
}
