// variables and helpers
$background-color: #fff;
$source-color: #666;
$text-font:  'Crimson Text', serif;
$text-color: #222;
$blue: #005A8B;
$blue-light: #A0CFEB;
$grey: #988F86;
$red: #A33F1F;


.none {
  display:none;
}

// structure & general layout

body {
  font-family: $text-font;
  color: $text-color;
  padding:0;
  margin:0;
}

// all pages stuff

header{
  h1{
    margin:0 0 0 -10px;
    padding:0;
    font-size:35px;
    color:$blue;

    span {
      font-wight:600;
      font-style: italic;
    }
  }
}


// Poem Logic

.poemMaker{
  min-width:800px;
  header{
    margin:20px 40px 0;
  }
}

.toggle { // "erase" style
    color:#111;
    background: #000;
}

#verseTextContainer {
  width: 85%;
  max-width: 600px;
  min-width: 400px;
  margin: 20px 40px 0;
  padding: 30px;
  //border: 1px solid #666;
  //border-radius: 10px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;


  button {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    border: none;
    padding:3px;
    margin:0;
    font-size: 16px;
    &:focus {
       //background: #efefef;
       outline: 0;
     }
  }

  a.lineBreak{
    font-family: 'Crimson Text', serif;
    text-decoration:none;
    color:#fff;
    margin:0;
    padding:0;
    &:hover {
      color:$red;
    }
  }
}

.textSource {

  font-size: 11px;

  a {
    color: $source-color;
    text-decoration: none;

    &:hover {
      border-bottom:1px solid $source-color;
    }
    &:visited{
      color: $source-color;
    }
  }

}

//frames

#extensionActions {
  margin: 0;
  padding:20px 0;
  text-align: center;
  position: fixed;
  top:0;
  right:0;
  width: 150px;
  color:white;
  border-left:1px solid $blue;
  background: white;
}

.actionButton {
  border:1px solid #666;
  border-radius: 5px;
  padding: 10px;
  //margin: 30px auto 0;
  display: inline;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}

#verseTextField {
  min-height: 30px;
}

// share / cover Logic

#cover {
  position:fixed;
  top:0;
  z-index: 1;
  width:100%;
  height:100%;
  background:#efefef;

  .exportImage {
    margin:10vh auto 0;
    display: block;
  }

  .instructions {
    text-align: center;
    font-size:20px;
  }

}


/// popup stylesheet

.popup {
  font-family: $text-font;
  width:400px;
  padding:10px 20px;
  font-size:16px;



strong{

}

ol {
  margin-left:0;
  padding:0 20px;
}

#openPoemMaker{

  a{
    text-align:center;
    max-width:150px;
    display: block;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    background:$blue;
    color:white;
    text-decoration: none;
    font-size:18px;
    line-height:1;

    &:hover{
      background:$blue-light;
    }
  }
}

/* just for mocking up. rm for prod
  border: 1px solid $grey;
  margin: 100px auto;
*/
}
