.none {
  display: none; }

body {
  min-width: 550px;
  min-height: 400px; }

button {
  border: 0;
  background: #fff; }

.actionButton {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  margin: 30px auto 0;
  display: inline; }

.toggle {
  color: #111;
  background: #000; }
